<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>calculator_Stanford.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A8F4F551E499D2400A06F53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8F4F6C1E499D2600A06F53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8F4F771E499D2600A06F53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
